{% extends 'thenavbarandbackground.html' %}
{% block content %}
{% load static %}
<div class="container-map">
        <div class="m-2">
            <form class="filter" action="">
                <select class="form-control mb-3" name="district" id="districtSelect">
                    <option value="" disabled selected>選擇區域</option>
                    <option value="大學城">大學城</option>
                    <option value="水源街">水源街</option>
                    <option value="大田寮">大田寮</option>
                    <option value="金雞母">金雞母</option>
                    <option value="淡大校內">淡大校內</option>
                </select>
                <select class="form-control mb-3" name="restauranttype" id="restauranttypeSelect">
                    <option value="" disabled selected>選擇餐廳種類</option>
                    <option value="健康餐廳">健康餐廳</option>
                    <option value="台式料理店">台式料理店</option>
                    <option value="早午餐店">早午餐店</option>
                    <option value="滷味店">滷味店</option>
                    <option value="義式料理餐廳">義式料理餐廳</option>
                    <option value="炸物店">炸物店</option>
                    <option value="美式料理餐廳">美式料理餐廳</option>
                    <option value="麵食館">麵食館</option>
                    <option value="便當店">便當店</option>
                    <option value="中式料理餐廳">中式料理餐廳</option>
                    <option value="日式料理餐廳">日式料理餐廳</option>
                    <option value="吃到飽餐廳">吃到飽餐廳</option>
                    <option value="串燒烤肉店">串燒烤肉店</option>
                    <option value="冰品飲料店">冰品飲料店</option>
                    <option value="火鍋餐廳">火鍋餐廳</option>
                    <option value="韓式料理餐廳">韓式料理餐廳</option>
                    <option value="素食餐廳">素食餐廳</option>
                    <option value="咖啡廳">咖啡廳</option>
                    <option value="甜品店">甜品店</option>
                    <option value="輕食餐廳">輕食餐廳</option>
                    <option value="自助餐店">自助餐店</option>
                    <option value="排餐餐廳">排餐餐廳</option>
                    <option value="港式料理餐廳">港式料理餐廳</option>
                </select>
                <select class="form-control mb-3" name="ratingcategories" id="ratingcategoriesSelect">
                    <option value="" disabled selected>選擇Google評分級距</option>
                    <option value="4.5分或以上">4.5分或以上</option>
                    <option value="4分或以上">4分或以上</option>
                    <option value="3分或以上">3分或以上</option>
                </select>
                <button>搜尋</button>
            </form>
        </div>
    </div>

    <ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-list-tab" data-bs-toggle="pill" data-bs-target="#pills-list"
                type="button" role="tab" aria-controls="pills-list" aria-selected="true">列表模式</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-map-tab" data-bs-toggle="pill" data-bs-target="#pills-map" type="button"
                role="tab" aria-controls="pills-map" aria-selected="false">地圖模式</button>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-list" role="tabpanel" aria-labelledby="pills-list-tab">
            <div class="outside-of-list" id="outside-of-list">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <div class="content">
                            <div>
                                <h1 class="font-weight-bold mb-1">八方雲集 (淡水學府店)</h1>
                                <p id="address" class="font-weight-bold mb-1">地點：251新北市淡水區學府路104號 </p>
                                <p id="type" class="font-weight-bold mb-1">種類：臺式料理</p>
                            </div>
                            <div id="list" class="rounded-circle">
                                <h6>4.5</h6>
                            </div>
                        </div>
                        <div class="pic_and_like_and_dislike">
                            <img src="{% static 'img/下載 1.png' %}" alt="foodpic" width="150">
                            <div class="like_and_dislike">
                                <div class="like">
                                    <a href="">
                                        <img src="{% static 'img/Vector 1.png' %}" alt="">
                                    </a>
                                    <p>10</p>
                                </div>
                                <div class="dislike">
                                    <a href="">
                                        <img src="{% static 'img/Vector 2.png' %}" alt="">
                                    </a>
                                    <p style="text-align: center;">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div>
                        <div class="content">
                            <div>
                                <h1 class="font-weight-bold mb-1">八方雲集 (淡水學府店)</h1>
                                <p class="font-weight-bold mb-1">地點：251新北市淡水區學府路104號 </p>
                                <p class="font-weight-bold mb-1">種類：臺式料理</p>
                            </div>
                            <div class="rounded-circle">
                                <h6>4.5</h6>
                            </div>
                        </div>
                        <div class="pic_and_like_and_dislike">
                            <img src="{% static 'img/下載 1.png' %}" alt="foodpic" width="150">
                            <div class="like_and_dislike">
                                <div class="like">
                                    <a href="">
                                        <img src="{% static 'img/Vector 1.png' %}" alt="">
                                    </a>
                                    <p>10</p>
                                </div>
                                <div class="dislike">
                                    <a href="">
                                        <img src="{% static 'img/Vector 2.png' %}" alt="">
                                    </a>
                                    <p style="text-align: center;">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div>
                        <div class="content">
                            <div>
                                <h1 class="font-weight-bold mb-1">八方雲集 (淡水學府店)</h1>
                                <p class="font-weight-bold mb-1">地點：251新北市淡水區學府路104號 </p>
                                <p class="font-weight-bold mb-1">種類：臺式料理</p>
                            </div>
                            <div class="rounded-circle">
                                <h6>4.5</h6>
                            </div>
                        </div>
                        <div class="pic_and_like_and_dislike">
                            <img src="{% static 'img/下載 1.png' %}" alt="foodpic" width="150">
                            <div class="like_and_dislike">
                                <div class="like">
                                    <a href="">
                                        <img src="{% static 'img/Vector 1.png' %}" alt="">
                                    </a>
                                    <p>10</p>
                                </div>
                                <div class="dislike">
                                    <a href="">
                                        <img src="{% static 'img/Vector 2.png' %}" alt="">
                                    </a>
                                    <p style="text-align: center;">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div>
                        <div class="content">
                            <div>
                                <h1 class="font-weight-bold mb-1">八方雲集 (淡水學府店)</h1>
                                <p class="font-weight-bold mb-1">地點：251新北市淡水區學府路104號 </p>
                                <p class="font-weight-bold mb-1">種類：臺式料理</p>
                            </div>
                            <div class="rounded-circle">
                                <h6>4.5</h6>
                            </div>
                        </div>
                        <div class="pic_and_like_and_dislike">
                            <img src="{% static 'img/下載 1.png' %}" alt="foodpic" width="150">
                            <div class="like_and_dislike">
                                <div class="like">
                                    <a href="">
                                        <img src="{% static 'img/Vector 1.png' %}" alt="">
                                    </a>
                                    <p>10</p>
                                </div>
                                <div class="dislike">
                                    <a href="">
                                        <img src="{% static 'img/Vector 2.png' %}" alt="">
                                    </a>
                                    <p style="text-align: center;">10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
         <!--<div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d231095.29411494383!2d121.14243019453122!3d25.17407060000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aff8c1544bdb%3A0x1dcf4f494b3362b!2z5reh5rGf5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1693389490317!5m2!1szh-TW!2stw"
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe></div>-->
        <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
         <div id="map" style="border:0; width:100%; height:600px" allowfullscreen="" loading="lazy"
                 referrerpolicy="no-referrer-when-downgrade"></div></div>
         {{ foodstores|json_script:"foodstores_json" }}
    </div>

    <script>
        var map = L.map('map').setView([25.1723776, 121.454592], 25);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap 淡江好食光'
        }).addTo(map);

        var mapTab = document.getElementById('pills-map');
        var observer1 = new MutationObserver(function(){
        if(mapTab.style.display != 'none'){
        map.invalidateSize();
        }
      });
      observer1.observe(mapTab, {attributes: true});

        /*坐標圖示*/
        var redIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
        });

        var orangeIcon = new L.Icon({
        iconUrl: 'https://cdn.jsdelivr.net/gh/pointhi/leaflet-color-markers@master/img/marker-icon-2x-orange.png', // Replace with actual URL for blue marker icon
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
        });

        var greenIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png', // Replace with actual URL for blue marker icon
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
        });

        var yellowIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png', // Replace with actual URL for blue marker icon
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
        });

        var blueIcon = new L.Icon({
        iconUrl: 'https://cdn.jsdelivr.net/gh/pointhi/leaflet-color-markers@master/img/marker-icon-2x-blue.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34]
        });

        let list = document.querySelector('.list-group');
        let filter = document.querySelector('.filter');
        let foodstoreslist = JSON.parse(document.getElementById('foodstores_json').textContent);
        let foodstoresFilter = foodstoreslist;
        showFoodstores(foodstoresFilter);
        function showFoodstores(foodstoresFilter) {

        let isLiked = false; // Variable to track the like button state
        let isDisliked = false; // Variable to track the dislike button state

        list.innerHTML = '';
        foodstoresFilter.forEach(item =>{

        // Create a link using Django URL



         /**
        let detailUrl = "";
        let hreflinktodetail = document.createElement('a');
        hreflinktodetail.href = detailUrl
        hreflinktodetail.className = 'grouphref';**/

        let list_group_item = document.createElement('li');
        list_group_item.classList.add('list-group-item');
        /**hreflinktodetail.appendChild(list_group_item);**/


        let newItem = document.createElement('div');
        list_group_item.appendChild(newItem);

        let content = document.createElement('div')
        content.classList.add('content');
        content.style.display = 'flex';
        content.style.alignItems = 'center';
        newItem.appendChild(content);

        let content_div = document.createElement('div')
        content.appendChild(content_div);

        //創建店家項目 -- 店名
        let newStoreName = document.createElement('h1');
        newStoreName.style.marginBottom='4px';
        newStoreName.style.fontSize='15px';
        newStoreName.style.color='#48c964'
        newStoreName.classList.add('restaurantname');
        newStoreName.innerText = item.restaurantname;
        content_div.appendChild(newStoreName);

        //創建店家項目 -- 地址

        let newStoreAddress = document.createElement("p");
        newStoreAddress.style.marginBottom='4px';
        newStoreAddress.style.fontSize='15px';
        newStoreAddress.style.color='#5ED7F1'
        newStoreAddress.classList.add('address');
        newStoreAddress.innerText = '地址：'+item.address;
        content_div.appendChild(newStoreAddress);


        //創建店家項目 -- 餐廳類型

        let newStoreType = document.createElement("p");
        newStoreType.style.marginBottom='4px';
        newStoreType.style.fontSize='15px';
        newStoreType.style.color='#5ED7F1'
        newStoreType.classList.add('restauranttype');
        newStoreType.innerText = '餐廳種類：'+item.restauranttype;
        content_div.appendChild(newStoreType);



        //創建店家項目 -- 評分
        let newStoreRating = document.createElement('div');
        newStoreRating.classList.add('ratingintotaloffive');
        //newStoreRating.style.float = 'right';
        newStoreRating.style.position = 'absolute';
        newStoreRating.style.right = '100px';

        let newStoreRating_RoundedCircle = document.createElement('div');
        newStoreRating_RoundedCircle.classList.add("rounded-circle");
        // Set the styles using JavaScript
        newStoreRating_RoundedCircle.style.marginLeft = "8.8px";
        newStoreRating_RoundedCircle.style.border = "2px solid #BC3CAF";
        newStoreRating_RoundedCircle.style.width = "60px";
        newStoreRating_RoundedCircle.style.height = "60px";
        newStoreRating_RoundedCircle.style.display = "flex";
        newStoreRating_RoundedCircle.style.justifyContent = "center"; // For horizontal centering
        newStoreRating_RoundedCircle.style.alignItems = "center"; // For vertical centering
        newStoreRating_RoundedCircle.style.borderRadius='50%';
        // Media query for screen width check
        //if (window.innerWidth >= 768) {
        //    newStoreRating_RoundedCircle.style.marginLeft = "450px";
        //}

        let newStoreRatingScore = document.createElement('h6');
        newStoreRatingScore.innerText = item.ratingintotaloffive;
        newStoreRatingScore.style.margin = "0 auto";
        newStoreRatingScore.style.color = "#EFCCCC";


        newStoreRating.appendChild(newStoreRating_RoundedCircle);
        newStoreRating_RoundedCircle.appendChild(newStoreRatingScore);
        content.appendChild(newStoreRating);


        /**let likeanddislikefunction = document.createElement('div');**/
        let foodmaprestaurantcover = document.createElement('div');
        let img = document.createElement("img");
        img.src = item.restaurantcoverphotourl;
        img.style.maxWidth = "150px";
        foodmaprestaurantcover.appendChild(img);
        content_div.appendChild(foodmaprestaurantcover);


        //let likeButton = document.createElement('button');
        //likeButton.innerText = 'Like';
        //likeButton.classList.add('like-button');
        //likeButton.style.position = 'absolute';
        let likeButton = document.createElement('img');
        likeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector1_1.png'; // Replace with the path to your like image
        likeButton.style.minWidth = '20px';
        likeButton.style.height = '40px';
        likeButton.classList.add('like-button');
        likeButton.style.cursor = 'pointer'; // Add pointer cursor for better UX
        likeButton.style.marginLeft = '300px';
        likeButton.addEventListener('click', () => {
        // Handle like button click here, e.g., increase the like count
        // You can use item.id or any unique identifier to track the liked item
        //console.log('Liked:', item.restaurantname);
        if (isLiked) {
        // Already liked, so switch to unliked state
        likeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector1_1.png';
        isLiked = false;
        } else {
        // Not liked, so switch to liked state
        likeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector1_liked.png';
        // Also, if the dislike button is active, switch it off
        if (isDisliked) {
            dislikeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector%202.png';
            isDisliked = false;
        }
        isLiked = true;
        }
    });

        //let dislikeButton = document.createElement('button');
        //dislikeButton.innerText = 'Dislike';
        //dislikeButton.classList.add('dislike-button');
        let dislikeButton = document.createElement('img');
        dislikeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector%202.png'; // Replace with the path to your like image
        dislikeButton.style.minWidth = '20px';
        dislikeButton.style.height = '40px';
        dislikeButton.style.position = 'absolute';
        dislikeButton.style.right = '100px';
        dislikeButton.addEventListener('click', () => {
        // Handle dislike button click here, e.g., increase the dislike count
        // You can use item.id or any unique identifier to track the disliked item
        //console.log('Disliked:', item.restaurantname);
        if (isDisliked) {
        // Already disliked, so switch to undisliked state
        dislikeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector%202.png';
        isDisliked = false;
        } else {
        // Not disliked, so switch to disliked state
        dislikeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector2_disliked.png';
        // Also, if the like button is active, switch it off
        if (isLiked) {
            likeButton.src = 'https://raw.githubusercontent.com/paulLamProgramming/foodmapimageinTamsui/main/Vector1_1.png';
            isLiked = false;
        }
        isDisliked = true;
        }
    });

     // Add like and dislike buttons to the content_div
    content_div.appendChild(likeButton);
    content_div.appendChild(dislikeButton);


        console.log(foodstoreslist);






        /** let newStoreRating = document.createElement('div');
        newStoreRating.id = "list";
        newStoreRating.classList.add('rounded-circle-map');
        newStoreRating.style.marginLeft = "8.8px";
        newStoreRating.style.border = "2px solid #BC3CAF";
        newStoreRating.style.width = "60px";
        newStoreRating.style.height = "60px";
        newStoreRating.style.display = "flex";
        newStoreRating.style.justifyContent = "center"; // For horizontal centering
        newStoreRating.style.alignItems = "center"; // For vertical centering
        newStoreRating.style.borderRadius="50%";
        newStoreRating.style.marginLeft="447px";
        let newStoreRatingNumber = document.createElement('h6');
        newStoreRatingNumber.innerText = item.ratingintotaloffive
        newStoreRatingNumber.style.marginTop="7px";
        newStoreRatingNumber.style.color='#EFCCCC';

        // Media query for screen width check
        if (window.innerWidth >= 768) {
            newStoreRating.style.marginLeft = "447px";
        }**/

        /**newStoreRating.innerText = item.ratingintotaloffive;**/
        // newItem.appendChild(newStoreRating);
        // newStoreRating.appendChild(newStoreRatingNumber);

        //newItem.style.display='block';
        //content_div.appendChild(newStoreName, newStoreAddress, newStoreType);
        //content.appendChild(content_div);
        //list.appendChild(content);
          list.appendChild(list_group_item);
    });
}
let displayedMarkers = [];

// Function to update markers on the map based on filtered data
function updateMarkers(filteredData) {
    // Clear existing displayed markers
    displayedMarkers.forEach(marker => {
        map.removeLayer(marker);
    });
    displayedMarkers = [];

    // Add markers for filtered data
    filteredData.forEach(foodstore => {
        let markerIcon;

        if (foodstore.district === '大學城') {
            markerIcon = redIcon;
        } else if (foodstore.district === '水源街') {
            markerIcon = orangeIcon;
        } else if (foodstore.district === '大田寮'){
            markerIcon = greenIcon;
        } else if (foodstore.district === '金雞母'){
            markerIcon = yellowIcon;
        } else if (foodstore.district === '淡大校內'){
            markerIcon = blueIcon;
        }
        // Add more conditions for other categories...
         let popupContent = `
            <div class="popup-content">
                <h3>${foodstore.restaurantname}</h3>
                <p>Address: ${foodstore.address}</p>
                <p>Rating: ${foodstore.ratingintotaloffive}</p>
            </div>
        `;


        let marker = L.marker([foodstore.latitude, foodstore.longitude], { icon: markerIcon })
            .addTo(map)
            .bindPopup(popupContent);;
        displayedMarkers.push(marker);
    });
}

filter.addEventListener('submit', (event) => {
    event.preventDefault();

    // Filter food store data based on selected criteria
    let valueFilter = event.target.elements;
    let foodstoresFilter = foodstoreslist.filter(item => {
        if (valueFilter.district.value != '') {
            if(item.district != valueFilter.district.value) {
                return item.district === valueFilter.district.value;
            }
        }

        if (valueFilter.restauranttype.value != ''){
            if(item.restauranttype != valueFilter.restauranttype.value){
                return item.restauranttype === valueFilter.restauranttype.value;
            }
        }

        if (valueFilter.ratingcategories.value !=''){
            if(item.ratingcategories != valueFilter.ratingcategories.value) {
                return item.ratingcategories === valueFilter.ratingcategories.value;
            }
        }
        return true;
    });

    // Display filtered food stores in the list
    showFoodstores(foodstoresFilter);

    // Update markers on the map
    updateMarkers(foodstoresFilter);
});


foodstoresFilter.forEach(foodstore => {
        let markerIcon;

    if (foodstore.district === '大學城') {
            markerIcon = redIcon;
        } else if (foodstore.district === '水源街') {
            markerIcon = orangeIcon;
        } else if (foodstore.district === '大田寮'){
            markerIcon = greenIcon;
        } else if (foodstore.district === '金雞母'){
            markerIcon = yellowIcon;
        } else if (foodstore.district === '淡大校內'){
            markerIcon = blueIcon;
        }
    // Add more conditions for other categories...
    let popupContent = `
            <div class="popup-content">
                <h3>${foodstore.restaurantname}</h3>
                <p>Address: ${foodstore.address}</p>
                <p>Rating: ${foodstore.ratingintotaloffive}</p>
            </div>
        `;




    let marker = L.marker([foodstore.latitude, foodstore.longitude], { icon: markerIcon })
        .addTo(map)
        .bindPopup(popupContent); // Replace 'tooltipContent' with actual property name from JSON
    displayedMarkers.push(marker);
});





// Initially show all markers on the map
foodstoreslist.forEach(foodstore => {
    let markerIcon;

    if (foodstore.district === '大學城') {
            markerIcon = redIcon;
        } else if (foodstore.district === '水源街') {
            markerIcon = orangeIcon;
        } else if (foodstore.district === '大田寮'){
            markerIcon = greenIcon;
        } else if (foodstore.district === '金雞母'){
            markerIcon = yellowIcon;
        } else if (foodstore.district === '淡大校內'){
            markerIcon = blueIcon;
        }
    // Add more conditions for other categories...
    let popupContent = `
            <div class="popup-content">
                <h3>${foodstore.restaurantname}</h3>
                <p>Address: ${foodstore.address}</p>
                <p>Rating: ${foodstore.ratingintotaloffive}</p>
            </div>
        `;




    let marker = L.marker([foodstore.latitude, foodstore.longitude], { icon: markerIcon })
        .addTo(map)
        .bindPopup(popupContent); // Replace 'tooltipContent' with actual property name from JSON
    displayedMarkers.push(marker);
});



    </script>


{% endblock %}